@charset "UTF-8";

body {
	padding-top: 40px;
	padding-bottom: 40px;
	overflow: -moz-scrollbars-vertical;
	overflow: scroll;
	overflow: -webkit-scrollbars-vertical;
	overflow: -o-scrollbars-vertical;
}