<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>babyshow</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath*:conf/applicationContext-datasource.xml,
            classpath*:conf/applicationContext-rest.xml,
            classpath*:conf/applicationContext-mvc.xml
        </param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>rest</servlet-name>
		<servlet-class>
	        org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:conf/applicationContext-rest.xml,</param-value>
		</init-param>   
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>rest</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>signfilter</filter-name>
		<filter-class>com.babyshow.filter.OperatorSignInFiler</filter-class>
		<init-param>
			<description>配置白名单</description>
			<param-name>noCheck</param-name>
			<param-value>
			    /rest/signin,
				/css/bootstrap/bootstrap.min.css,
				
				/rest/users/status,
				/rest/users/baby_like_count,
				/rest/users/images/show,
				/rest/users/images/detail,
				/rest/users/images/like,
				/rest/users/images/destroy,
				/rest/upload/url,
				/rest/upload/status,
				/rest/public/images/popular,
				/rest/public/images/show
				
	        </param-value>
		</init-param>
		<init-param>
			<description>过滤不成功转向地址</description>
			<param-name>redirectPath</param-name>
			<param-value>/rest/signin</param-value>
		</init-param>  
	</filter>

	<filter-mapping>
		<filter-name>signfilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<error-page>
		<error-code>400</error-code>
		<location>/page/error/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/page/error/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/page/error/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/page/error/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/page/error/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/page/error/error.jsp</location>
	</error-page>

</web-app>