<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.babyshow.upload.dao.ImageUploadDao">

	<insert id="insertImageUpload" parameterType="com.babyshow.upload.bean.ImageUpload">
		insert into
		t_imageupload(usercode,uploadtime,description,imagecode,qiniukey,sharetype,sharetoken,result)
		value
		(#{userCode},#{uploadTime},#{description},#{imageCode},#{qiniuKey},#{shareType},#{shareToken},#{result})
	</insert>

    <select id="findImageUploadByQiniuKey" resultType="com.babyshow.upload.bean.ImageUpload">
        select 
        usercode,uploadtime,description,qiniukey,sharetype,sharetoken,result
        from 
        t_imageupload
        where
        qiniukey = #{qiniuKey}
    </select>
    
    <update id="updateImageUploadResultByQiniuKey">
        update t_imageupload set
        result = #{0}
        where qiniukey = #{1}
    </update>
</mapper>