<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.babyshow.image.dao.ImageDao">
	<select id="findImageByImageCode" parameterType="java.lang.String"
		resultType="com.babyshow.image.bean.Image">
		select
		id,imagecode,usercode,description,likecount,createdtime,urlkey,status
		from
		t_image where imagecode=
		#{imageCode}
	</select>

	<insert id="insertImage" parameterType="com.babyshow.image.bean.Image">
		insert into
		t_image(imagecode,usercode,description,likecount,createdtime,urlkey,status)
		value
		(#{imageCode},#{userCode},#{description},#{likeCount},#{createdTime},#{urlKey},#{status})
	</insert>

	<insert id="insertImageLike" parameterType="com.babyshow.image.bean.ImageLike">
		insert into
		t_imagelike(imagecode,usercode,liketype,liketime)
		value
		(#{imageCode},#{userCode},#{likeType},#{likeTime})
	</insert>

	<delete id="deleleImageByImageCode" parameterType="java.lang.String">
		delete from
		t_image
		where
		imagecode = #{imageCode}
	</delete>

	<select id="findImagePopular" parameterType="int"
		resultType="com.babyshow.image.bean.ImagePopular">
		select id,imagecode,showtime,status
		from
		t_imagepopular
		where
		status = #{status}
	</select>
	<select id="findImageCountBySinceImageCode" resultType="int">
		select
		count(1) from t_image i, t_user u
		where i.createdtime >
		(
		select
		createdtime from t_image where imagecode = #{0}
		)
		and i.usercode =
		u.usercode
		and u.usercode = #{1}
	</select>

	<select id="findImageListBySinceImageCode" resultType="com.babyshow.image.bean.Image">
		select
		i.id,i.imagecode,i.usercode,i.description,i.likecount,i.createdtime,i.urlkey,i.status
		from t_image i, t_user u
		where i.usercode = u.usercode
		and i.imagecode =
		#{0}
		and u.usercode = #{1}
		order by i.id limit #{2}, #{3}
	</select>

	<select id="findImageCountByMaxImageCode" resultType="int">
	   <![CDATA[
	    select count(1) from t_image i, t_user u
        where i.createdtime <
        (
            select createdtime from t_image where imagecode = #{0}
        )
        and i.usercode = u.usercode
        and u.usercode = #{1}
       ]]>
	</select>
	
	<select id="findImageListByMaxImageCode" resultType="com.babyshow.image.bean.Image">
        select
        i.id,i.imagecode,i.usercode,i.description,i.likecount,i.createdtime,i.urlkey,i.status
        from t_image i, t_user u
        where i.usercode = u.usercode
        and i.imagecode =
        #{0}
        and u.usercode = #{1}
        order by i.id limit #{2}, #{3}
    </select>
    
    <select id="findImageListByQueryConditionAndPage" resultType="com.babyshow.image.bean.Image">
       select 
       i.id,i.imagecode,i.usercode,i.description,i.likecount,i.createdtime,i.urlkey,i.status
       from t_image i
       where 
       1 = 1
       <if test="imageCondition.userCode!=null">
            and usercode = #{imageCondition.userCode}
       </if>
       <if test="imageCondition.status!=null">
            and status = #{imageCondition.status}
       </if>
       <if test="imageCondition.description!=null">
            and description like #{imageCondition.description}
       </if>
       <if test="imageCondition.createdTime!=null">
            and createdTime = #{imageCondition.createdTime}
       </if>
       order by   
       id limit #{page.curRecord}, #{page.recordPerPage}
    </select>
    
    <select id="findImageListCountByQueryCondition" resultType="int">
       select count(*)
       from t_image i
       where 
       1 = 1
       <if test="imageCondition.userCode!=null">
            and usercode = #{imageCondition.userCode}
       </if>
       <if test="imageCondition.status!=null">
            and status = #{imageCondition.status}
       </if>
       <if test="imageCondition.description!=null">
            and description like #{imageCondition.description}
       </if>
       <if test="imageCondition.createdTime!=null">
            and createdTime = #{imageCondition.createdTime}
       </if>
    </select>
    
    <update id="updateImageLikeCount">
        update t_image set
        likecount = likecount + #{count}
        where imagecode = #{imageCode}
    </update>
    
    <select id="findRandomImageList" resultType="com.babyshow.image.bean.Image">
		 select distinct
		    t1.id,t1.imagecode,t1.usercode,t1.description,t1.likecount,t1.createdtime,t1.urlkey,t1.status
		 from
		     t_image as t1
		     join (select 
		               round(rand() * (select MAX(id) - MIN(id) from t_image) + (select MIN(id) from t_image)) as id 
		          from t_image limit 100) as t2 on t1.id = t2.id
		 limit #{count};
    </select>
    
   <select id="findImageLikeByUserCodeAndImageCode" resultType="com.babyshow.image.bean.ImageLike">
         select 
             id,imagecode,usercode,liketype,liketime
         from
             t_imagelike
         where
             usercode = #{userCode}
         and
             imagecode = #{imageCode}
         and 
             liketype = #{likeType}     
    </select>
    
    <update id="updateImageLikeByUserCodeAndImageCode">
        update t_imagelike set
            liketype = #{likeType}
        where
             usercode = #{userCode}
         and
             imagecode = #{imageCode}
    </update>
</mapper>