<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.babyshow.user.dao.UserDao">
	<select id="findUserByUserCode" parameterType="java.lang.String" resultType="com.babyshow.user.bean.User">
		select
		id,usercode,status,deviceid,regtime,regnum,usertype
		from t_user where usercode=
		#{userCode}
	</select>
	<select id="findExistUserCount" resultType="int">
        select count(1) from t_user
    </select>
	<select id="findUserByDeviceID" parameterType="java.lang.String" resultType="com.babyshow.user.bean.User">
        select
        id,usercode,status,deviceid,regtime,regnum,usertype
        from t_user where deviceid=
        #{deviceID}
    </select>
	<insert id="insertUser" parameterType="User">
		insert into
		t_user(usercode,status,deviceid,regtime,regnum,usertype)
		value
		(#{userCode},#{status},#{deviceID},#{regTime},#{regNum},#{userType})
	</insert>
    <select id="findUserBabyLikeCountByDeviceID" parameterType="java.lang.String" resultType="int">
	   select count(1) from t_imagelike il, t_user u
	   where il.usercode = u.usercode
	   and u.deviceid = #{deviceID}
	</select>
	<select id="findUserBabyLikeCountByDeviceIDAndDate" resultType="int">
	<![CDATA[
       select count(1) from t_imagelike il, t_user u
       where il.usercode = u.usercode
       and u.deviceid = #{0}
       and il.liketime <= #{1}
    ]]>
    </select>

	<select id="findUserListByQueryConditionAndPage" resultType="com.babyshow.user.bean.User">
       select id,usercode,status,deviceid,regtime,usertype,regnum
       from t_user u
       where 
       1 = 1
       <if test="userCondition.userCode!=null">
            and usercode like #{userCondition.userCode}
       </if>
       <if test="userCondition.status!=null">
            and status like #{userCondition.status}
       </if>
       <if test="userCondition.deviceID!=null">
            and deviceid like #{userCondition.deviceID}
       </if>
       <if test="userCondition.regTime!=null">
            and regtime like #{userCondition.regTime}
       </if>
       <if test="userCondition.regNum!=null">
            and regnum like #{userCondition.regNum}
       </if>
       order by   
       id limit #{page.curRecord}, #{page.recordPerPage}
    </select>
	
	<select id="findUserListCountByQueryCondition" resultType="int">
       select count(*)
       from t_user u
       where 
       1 = 1
       <if test="userCondition.userCode!=null">
            and usercode like #{userCondition.userCode}
       </if>
       <if test="userCondition.status!=null">
            and status like #{userCondition.status}
       </if>
       <if test="userCondition.deviceID!=null">
            and deviceid like #{userCondition.deviceID}
       </if>
       <if test="userCondition.regTime!=null">
            and regtime like #{userCondition.regTime}
       </if>
       <if test="userCondition.regNum!=null">
            and regnum like #{userCondition.regNum}
       </if>
    </select>
</mapper>